<!DOCTYPE html>
<html lang="et">
<%- include("includes/head") %>
<header>
    <h1>:C</h1>
    <p>Sellist muruplatsi pole olemas...</p>
</header>
<body>
    <main>
        <p class="Error" >Error 404</p>
        <a href="/">Tagasi avalehele</a>
    </main>
</body>
<%- include('includes/footer') %>
</html>