<!DOCTYPE html>
<html lang="et">

<%- include("includes/head") %>

<header>
    <h1>Teenused</h1>
    <p>Siit saab uurida pakutavaid teenuseid</p>
</header>
<body>
    <%- include('includes/menu')%>
    <main>
        <div class="container">
            <div class="product">
                <h2>Heliloomine</h2>
                <img src="/assets/DiskIcon.png" alt="cd-plaat" style="width:200px">
            </div>

            <div class="product">
                <h2>Muru söömine</h2>
                <img src="/assets/DiskIconWithFlowers.png" alt="cd-plaat" style="width:200px">
            </div>
        </div>
    </main>
</body>

<%- include('includes/footer') %>

</html>