h1{

    background-color: limegreen; /*tausta värv*/
    color: orangered; /*teksti värv*/
    border-radius: 10px;
    padding: 10px; /*vahe teksti ja piiri vahel*/


}
header, footer{
    font-family: "Script MT Bold", cursive;
    font-size: large;
    width: 100%;
    border: 2px solid black;
    background-color: limegreen;
    color: black;
    border-radius: 10px;
    padding: 10px; /*vahe teksti ja piiri vahel*/

}
/*
input[type=button]{
    font-family: "Script MT Bold", cursive;
    border-style: solid;
    border-radius: 10px;
    border-color: darkgreen;
}*/

input#peida{
    position: relative;
}

footer#teine{
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
}

body {
    background-color: greenyellow;
    background-image: url("/assets/grass_Texture with flowers.png");
    background-size: 20%;
    background-repeat: repeat;

}

/* DATA  */

li.data-list-item {
    padding: 10px;
}
div.data{
    background-color: #32cd32;
    width: 20%;
    border-radius: 50px;
    border: 1pt solid black;
    padding: 2%;
}
main{
    display: block;
    font-family: "Script MT Bold", cursive;
    margin: 2%;
    padding: 2%;
    /*    background-color: ; */
    /*background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
    */
}

.nav-item{
    padding: 2px;
    font-family: "Script MT Bold", cursive;
}

button {
    font-family: "Script MT Bold", cursive;
    background-color: greenyellow;
    border: 1pt solid black;
    color: black;
    padding: 5px;
    text-align: center;
    border-radius: 35%;
    display: inline-block;
    /* font-size: 16px;*/ 
    cursor: pointer;
}

button.danger:hover{
    font-weight: bold;
    background-color: red;
}

button.submit:hover{
    font-weight: bold;
    background-color: lime;
}

textarea, input[type="text"] {
    font-family: "Script MT Bold", cursive;

    background-color: white;
    border: 1pt solid black;
    padding: 5px;
    border-radius: 5%;

    width: 100%;
}

form.create {
    width: 25%;
    padding: 2%;
    border-radius: 5%;
    background-color: limegreen;
    border: 1pt solid black;
}

.errorBox{
    width: 25%;
    border: 2pt solid red;
    padding: 10px;
    border-radius: 5%;
}
.errorMsg{
    color: red;
    font-weight: bold;
    width: 100%;
}
/*
.nav-item a{
    padding: 2px;
    text-decoration: none;
}

.nav-item a:hover{
    font-weight: bold;
    border: 2pt solid;
    border-radius: 10%;
}
*/
a {
    font-family: "Script MT Bold", cursive;
    padding: 2px;
    text-decoration: none;
}

a:hover{
    font-weight: bold;
}

.Error{
    color: red;
    font-weight: normal;
    font-size: 50pt;
}

/*
a.uudis{
    font-family: "Script MT Bold", cursive;
    padding: 2px;
    text-decoration: none;
}

a.uudis:hover{
    font-weight: bold;
}*/
/* nav menu: sonhover */
